.header {
    margin-top: 120px;
}

section h1 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

section {
    padding: 50px 300px;
}

section p {
    line-height: 30px;
    padding: 10px;
    text-align: justify;
}